<footer>
    <a href="https://www.instagram.com/hikel.ryan/?hl=en" target="_blank" class="fa fa-instagram"></a>
    <a href="https://git.generalassemb.ly/hikelryan" target="_blank" class="fa fa-github"></a>
    <a href="https://www.linkedin.com/in/hikelryan/" target="_blank" class="fa fa-linkedin"></a>
</footer>

</body>

</html>