<% include ./partials/landing_head %>
    <div>
        <h1>View Plants</h1>
        <button onclick="window.location.href='/plants'">
            <img src="/public/images/tree_silhouette.png" height="60px">
        </button>
        <h1 class="selection">View Regions</h1>
        <button onclick="window.location.href='/regions'">
            <img src="/public/images/globe_icon.png" height="50px">
        </button>
    </div>
    <% include ./partials/footer %>