html{
    height:100%; 
}
body{ 
    min-height:100%; 
    padding: 0; 
    margin:0; 
    position:relative;
    color: black;
    background-color: white;
    text-align: center; 
    font-family: 'Sunflower', sans-serif;
}
div{
    padding: 50px 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
h1.selection{
    margin-top: 60px;
}
button {
    background-color: rgb(245, 11, 11); /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
button:hover{
    background-color: steelblue;
}
header{
    position:fixed; 
    width:100%; 
    height:60px;
    text-align: center;
    color: white;
    top: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    display: flex;
}

li {
    justify-content: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: steelblue;
}

.active{
    background-color: rgb(30, 119, 192);
}

footer{ 
  position:absolute; 
  bottom:0; 
  width:100%; 
  height:70px;
  text-align: center;
  background-color: black;
  color: white;
}
footer h1{
    margin: 0;
}

@media only screen and (min-width : 500px) {

div{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-left: 30px; 
}

}