<!doctype html>
<html>

<head>
    <% include ../partials/head %>
</head>

<body>
    <div class="page-container">
        <h2 class="page-title"><%=plant.plant_name%>(<%=plant.species%>)</h2>
            <img src="<%=plant.tree_img_url%>" height="300px" width="300px">
            <img src="<%=plant.leaf_img_url%>" height="300px" width="300px">
    </div>
</body>

</html>